<div class="card-trip">
  <div class="map-card">
    <div id="carousel-map-<%= flat.id + 100 %>" class="carousel slide" >
    <div class="carousel-inner inner-map">
      <% flat.photos.each_with_index do |photo, index| %>
        <div class="carousel-item item-map <%= "active" if index == 0 %>">
          <%= cl_image_tag(photo.key, width: 300, height: 200, crop: :fill)%>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carousel-map-<%= flat.id + 100 %>" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-map-<%= flat.id + 100 %>" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="card-trip-infos">
    <div>
      <h2><%= flat.title %></h2>
      <p><%= flat.location %></p>
      <p class="card-trip-pricing"> <i class="fas fa-star" style="color: #1BBC9A;"></i> <%=  flat.reviews.map {|review| review.rating}.sum /  flat.reviews.count.to_f unless flat.reviews.empty? %> (<%= flat.reviews.count  %>)</p>
    </div>
  </div>
</div>
