<div class="container mt-3" style="padding-top: 20px;">

  <% @current_date = Date.today %>
  <!-- To review -->
  <% @end_booking_date = @booking.end_date %>

  <div class="row">

    <div class="details col-md-6 " style="height: 500px" >
      <div class="container border-bottom " style="height: 230px">
        <h2><%= @booking.flat.title %></h2>
        <p><%= @booking.flat.description %></p>
      </div>
      <div class="container " style="height: 200px">
        <br>
        <p><strong>Name: </strong> <%= @booking.flat.user.first_name %></p>
        <p><strong>Last Name:</strong> <%= @booking.flat.user.last_name %></p>
        <p><strong>Start Date:</strong> <%= @booking.start_date %> </p>
        <p><strong>End Date:</strong> <%= @booking.end_date %> </p>
        <p><i class="fas fa-users"></i><span><strong></strong> x <%= @booking.guest %></span></p>
        <p><strong>Confirmed Status:</strong> <span id="confirmed-status"><%= @booking.confirmed %></span> </p>
      </div>
    </div>

    <!-- Photo of the flat -->
    <div class="details2 col-md-6  border-left ">
      <div class="pic container border-bottom d-flex align-items-center" style="height: 230px">
        <%= cl_image_tag @booking.flat.photos.first.key, height: 200%>
      </div>

      <% if @current_date < @end_booking_date %>
        <%# Put the container with the booking price %>
        <!-- Booking container -->
        <div class="container booking-container border" style="height: 150px width=500px">
          <div class="">
            <div class=" my-3 p-3 border">
              <% if @booking.confirmed == false  %>
                  <%= link_to "Confirm and Pay", confirm_path(id:@booking.id), remote: true, id: 'sweet-alert-demo', class: "border btn btn-dark mb-3 w-100" %>
              <% else %>
              <% end %>

              <div class="d-flex justify-content-between pb-3">
                <p><strong>Cost</strong></p>
                <p>£<%= @booking.flat.price %> x <%= (@booking.end_date - @booking.start_date).to_i %> nights</p>
              </div>

              <div class="d-flex justify-content-between border-bottom">
                <p><strong>Service Fee</strong></p>
                <p>Free</p>
              </div>

              <div class="d-flex justify-content-between pt-3">
                <p><strong>Total (GBP)</strong></p>
                <p><strong>£<%= @booking.price %></strong></p>
              </div>
            </div>
          </div>
          </div>

      <% elsif @current_date >= @end_booking_date %>
        <%# Display review form  %>
        <!-- Review form partial  -->
        <div class="row justify-content-center booking-review-container">
          <div class="col-md-12 text-center">
            <div> <%= render "reviews/new", flat: @flat, review: @review %></div>
          </div>
        </div>
      <% end  %>






    </div>
  </div>
</div>
