
 <% if @user.avatar.attached? %>
      <%= cl_image_tag(@user.avatar.key, style: "width: 400px", class: "rounded-circle") %>
    <% else %>
      <%= image_tag "http://taysidereusers.co.uk/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png", style: "width: 400px", class: "rounded-circle" %>
<% end %>

</br>

<p><%= @user.first_name %> <%= @user.last_name %></p>
<%= @user.dob %>



<%= simple_form_for(@user, url: user_registration_path) do |f| %>

  <div class="form-inputs">
    <%= f.input :avatar, as: :file %>
    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
  </div>

   <div class="form-actions">
    <%= f.button :submit, class: "btn btn-ghost" %>
  </div>
<% end %>

